<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OptionalExtensions Mac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OptionalExtensions iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OptionalExtensions tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OptionalExtensions watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7DA0535A1C3DC5F3001F27B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DA0536A1C3DC675001F27B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7263FBB1C3C6BB200F402F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7263FC91C3C6C9E00F402F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7263FD71C3C6D1000F402F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7EC1DC31C34503A00BA1261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7120AAD1C348DE600867028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
